{
  "extends": "stylelint-config-airbnb",
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx"
  ],
  "rules": {
    "max-nesting-depth": null,
    "selector-max-id": null,
    "order/order": null,
    "at-rule-empty-line-before": [
      "always", {
        "ignoreAtRules": ["import", "include"]
      }
    ]
  }
}
