.footer-custom.layout {
  $lateral-item-margin: 15px;

  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;

  .item {
    color: rgba($white, .5) !important;
    white-space: nowrap;
    font-size: 18px;

    $transition-time: .3s;
    $transition-easing: ease-out;

    .item-text {
      margin-left: 7px;
      display: inline-block;

      transform: translateY(0);
      @include transition($transition-easing, $transition-time, transform);

      position: relative;

      &:after {
        content: "";
        position: absolute;
        @include reset(left, right);
        bottom: -5px;

        @include hmargin(auto);
        width: 0%;
        height: 1px;
        background: $white;

        @include transition($transition-easing, $transition-time, height, width);
      }
    }

    .icon {
      transform: rotate(0) scale(1) translate(0, 0);
      @include transition($transition-easing, $transition-time, transform);
    }

    @include transition($transition-easing, $transition-time, color);

    &:hover {
      color: $white !important;

      .item-text {
        transform: translateY(-4px);

        &:after {
          height: 2px;
          width: 100%;
        }
      }

      .icon {
        transform: rotate(-17deg) scale(1.3) translate(-2px, -4px);
      }
    }

    margin-left: $lateral-item-margin;

    & + .item:before {
      margin-right: $lateral-item-margin;
      display: inline-block;
      content: "|";
    }
  }
}
