.header.layout {
  $lateral-item-margin: 4%;

  margin-top: 40px;
  margin-left: -$lateral-item-margin / 2;
  margin-right: -$lateral-item-margin / 2;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 5px;
    margin-left: $lateral-item-margin;
    margin-right: $lateral-item-margin;

    &.current {
      border-bottom: 3px solid $primary;
    }
  }

  @include mobile {

    .item {
      font-size: 18px;
    }
  }
}
