// import bulma with customizations
@import 'sass/bulma.scss';

// import custom mixins & functions
@import 'sass/functions.scss';
@import 'sass/transitions.scss';

// import pages here in order to provide them bula vars & mixins
@import 'layout/Header';
@import 'layout/Footer';
@import 'pages/home/index';

#logos-mix {
  position: absolute;
  @include reset(top, left, right, bottom);
}

body {
  position: relative;
}

#__next {
  width: 100%;
}
