// import bulma with customizations
@import 'sass/bulma.scss';

// import pages here in order to provide them bula vars & mixins
@import 'layout/Header';
@import 'layout/Footer';
@import 'pages/home/index';

#logos-mix {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  position: relative;
}

#__next {
  width: 100%;
}
