.fullscreen {
  width: 100%;
  height: 100%;
}

.valign-content {
  display: flex;
  align-items: center;
}

.cover {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
